<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <title>Ejs Template </title>
</head>
<body>

    <form method="post" action="/sendEmail">
      <div class="form">
            <div class="title">Email Sender App </div>
            <div class="subtitle"> Let's get started ! </div>
            <div class="input-container ic1">
            <input id="emailSender" class="input" name="emailSender" type="text" placeholder=" " />
            <div class="cut"></div>
            <label for="emailSender" class="placeholder">Email Sender</label>
            </div>
            <!-- <div class="input-container ic1">
                <input id="emailReceiver" class="input" name="emailReceiver"  type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="emailReceiver" class="placeholder">Email Receiver</label>
            </div> -->
            <div class="input-container ic1">
                <input id="subject" class="input" name="subject"  type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="subject" class="placeholder">Subject</label>
            </div>
            <div class="input-container ic2">
            <textarea id="bodyMsg" class="input" type="text" name="bodyMsg"  placeholder=" "></textarea>
            <div class="cut cut-short"></div>
            <label for="bodyMsg" class="placeholder">Text</label>
            </div>
            <input class="file" type="file" id="emailList" name="emailList" accept=".txt, .docx, .pdf">
            <button type="text" class="submit">Send Email </button>
        </div>
    </form>
</body>
</html>